{% if section.settings.show_bar %}

<div class="announcement-bar">

  <p>{{ section.settings.text }}</p>

</div>

{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_bar",
      "label": "Show Announcement Bar",
      "default": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Announcement Text",
      "default": "🚚 Free Shipping | 🏠 Home Improvement | 📱 Electronics | 💄 Beauty & Personal Care"
    }
  ]
}
{% endschema %}
