<section class="category-banner">

<h2>Shop by Category</h2>

<div class="category-grid">


<a href="/collections/home-improvement" class="category-card">

<img src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85">

<div class="overlay">
<h3>Home Improvement</h3>
<span>Shop Now →</span>
</div>

</a>



<a href="/collections/electronics" class="category-card">

<img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c">

<div class="overlay">
<h3>Electronics</h3>
<span>Shop Now →</span>
</div>

</a>




<a href="/collections/beauty-personal-care" class="category-card">

<img src="https://images.unsplash.com/photo-1596462502278-27bfdc403348">

<div class="overlay">
<h3>Beauty & Personal Care</h3>
<span>Shop Now →</span>
</div>

</a>


</div>

</section>


{% schema %}
{
"name":"Category Banner",
"settings":[],
"presets":[
{
"name":"Category Banner"
}
]
}
{% endschema %}
