<footer class="footer">

<div class="container">

<p>

© {{ "now" | date: "%Y" }}

{{ shop.name }}

All Rights Reserved.

</p>

</div>

</footer>

{% schema %}
{
"name":"Footer",
"settings":[]
}
{% endschema %}
