<section class="main-search">

  <div class="search-container">

<h1>Search Nova Select</h1>

<form action="/search" method="get" role="search" class="search-form">

<div class="search-input-wrapper">

<input
id="search-input"
type="search"
name="q"
value="{{ search.terms | escape }}"
autocomplete="off"
placeholder="Search products..."
>

<button type="submit" class="search-icon-btn">

<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
<circle cx="11" cy="11" r="7"></circle>
<line x1="16.65" y1="16.65" x2="21" y2="21"></line>
</svg>

</button>

</div>


<div id="search-results" class="predictive-results"></div>


</form>


{% if search.performed %}

<div class="search-products">

{% for product in search.results %}

{% render 'product-card', product: product %}

{% endfor %}

</div>

{% endif %}


</div>

</section>
